# This is a basic workflow to help you get started with Actions

name: Databricks Repo Sync on Push

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  sync-databricks-repo-and-run-job: 
    runs-on: ubuntu-latest
    steps:
      - 
        name: Executes repo sync
        id: databricks_repo_sync
        uses: bkvarda/databricks-cli-github-action@main
        with:
          databricks-host: ${{ secrets.DATABRICKS_HOST }}
          databricks-token: ${{ secrets.DATABRICKS_TOKEN }}
          command: 'databricks repos update --repo-id 2801784709523600 --branch main'
      - 
        name: Runs pre-defined job after repo sync
        id: databricks_run_job
        uses: bkvarda/databricks-cli-github-action@main
        with:
          databricks-host: ${{ secrets.DATABRICKS_HOST }}
          databricks-token: ${{ secrets.DATABRICKS_TOKEN }}
          command: 'databricks jobs run-now --job-id 63463075560100'
